In [1]:
SELECT COUNT(*) AS PersonCount
  FROM [AdventureWorks2019].[Person].[Person]

PersonCount
19972